In [1]:
import pandas as pd
from sklearn.decomposition import PCA

In [11]:
df = pd.read_csv('../data/iris.csv')
print(df.shape)
df.head()

(150, 6)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
df = df.drop('Id',axis=1)

In [13]:
df_pca = df.drop(['Species'],axis=1)
df_pca.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [14]:
pca = PCA(n_components = 2)
pca_comps = pd.DataFrame(pca.fit_transform(df_pca))
print(pca.explained_variance_ratio_)

[0.92461621 0.05301557]

In [15]:
df['pc1'] = pca_comps[0]
df['pc2'] = pca_comps[1]
df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,pc1,pc2
0,5.1,3.5,1.4,0.2,Iris-setosa,-2.684207,0.326607
1,4.9,3.0,1.4,0.2,Iris-setosa,-2.715391,-0.169557
2,4.7,3.2,1.3,0.2,Iris-setosa,-2.889820,-0.137346
3,4.6,3.1,1.5,0.2,Iris-setosa,-2.746437,-0.311124
4,5.0,3.6,1.4,0.2,Iris-setosa,-2.728593,0.333925
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,1.944017,0.187415
146,6.3,2.5,5.0,1.9,Iris-virginica,1.525664,-0.375021
147,6.5,3.0,5.2,2.0,Iris-virginica,1.764046,0.078519
148,6.2,3.4,5.4,2.3,Iris-virginica,1.901629,0.115877
149,5.9,3.0,5.1,1.8,Iris-virginica,1.389666,-0.282887

In [16]:
df.to_csv('../data/iris_pca.csv',index=False)